body{
    background-color: #e6fff5;
}

header{
    background-color: aquamarine;
}

footer{
    text-align: center;
}

li .nav-link{
    color: #1f1f14;
}

a.nav-link:hover{
    color: #708090;
    font-size: 1.2em;
}

footer .bt-github{
    color: #777;
    font-size: 1.4em;
    
}

footer .bt-github:hover{
    font-size: 1.0em;
    transition: all 1000ms ease;
    color: #000;
    transform: rotateY(360deg); /*comment this to remove rotation*/
}


/*
.fa-github:hover{
    transition: all 1500ms ease;
    color: #000;
    transform: rotateY(360deg);
}
*/


